* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: rgb(216, 164, 164);
    padding: 15px;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

li:hover a {
    color: blue;
}

/* Products */
#products {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
}

.product {
    border: 2px solid black;
    text-align: center;
    padding: 20px;
    width: 220px;
    margin-bottom: 20px;
}

.product:hover {
    box-shadow: 10px 10px 5px rgb(187, 186, 186);
}

/* Images */
img {
    height: 200px;
    width: 200px;
    padding: 10px;
}

/* Text */
h1, p {
    text-align: center;
    margin: 5px 0;
}

/* Button */
button {
    background-color: black;
    color: aqua;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    color: white;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}